html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-medium-blue: hsl(228, 45%, 44%);
    --clr-dark-blue: hsl(218, 44%, 22%);
    --p-font-size: 1.5rem;
    --a-font-size: 1.1rem;
    --ff-primary: 'outfit', sans-serif;
    --border-radius: 2rem;
    --img-border-radius: 1rem
}

body {
    font-size: var(--p-font-size);
    font-family: var(--ff-primary);
    background: var(--clr-light-gray);
    text-align: center;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.qr-card {
    background: var(--clr-white);
    border-radius: var(--border-radius);
    padding: 1.6rem;
    margin: auto;
    max-width: 320px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

img {
    border-radius: var(--img-border-radius);
    margin: 0 auto;
}

h2 {
    color: var(--clr-dark-blue);
    padding-top: 0.6rem;
}

p {
    color: var(--clr-grayish-blue);
    padding-bottom: 1rem;
}

h2, p {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: sticky;
    top: 100vh;
    padding: 1rem;
}

.attribution a { 
    color: var(--clr-medium-blue) 
}